html,
body {
	height: 100%;
   
}

body {
	margin: 0;
	background: linear-gradient(45deg, #49a09d, #5f2c82);
	font-family: sans-serif;
	font-weight: 100;
    
}
h1 {
    color:#fff;
    font-size: 50px;
    padding: 10px 10px 50px 10px;
    text-align: center;
}



table {
	width: 800px;
	border-collapse: collapse;
	overflow: hidden;
    margin:0 auto ;

    
}

th,
td {
	padding:15px 15px 15px 15px;
	background-color: rgba(255,255,255,0.2);
	color: #fff;
    vertical-align:middle;

}

th {
	text-align: left;
}

thead th {
		background-color: #55608f;
}

		tbody tr:hover {
			background-color: rgba(255,255,255,0.3);
		}
        tbody td {
            position: relative;
        }
	
		tbody td:hover {
            background-color: rgba(255,255,255,0.3);}
		
	
		