* {
    text-decoration: none;
    list-style: none;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    background: linear-gradient(45deg, #49a09d, #5f2c82);
    font-family: sans-serif;
    font-weight: 100;
}
header nav li a {
    text-decoration: none;
   position: absolute;
   left: 1%;
   top: 2%;
    font-size: 30px;
    font-weight: bold;
    color: white;
}

h1 {
    color: #fff;
    font-size: 50px;
    padding: 10px 10px 50px 10px;
    text-align: center;
}

table {
    width: 800px;
    border-collapse: collapse;
    overflow: hidden;
    margin: 0 auto;
    font-weight: bold;
}

th,
td {
    padding: 15px 15px 15px 15px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    vertical-align: middle;
}

th {
    text-align: left;
}

thead th {
    background-color: #55608f;
}

tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

tbody td {
    position: relative;
}

tbody td:hover {
    background-color: rgba(255, 255, 255, 0.3);
}
fieldset {
    border: solid rgba(255, 255, 255, 0.3) 4px ;
    width: 500px;
    margin: 0 auto;
    position: relative;
    color: white;
    font-weight:  bold;
    margin-top: 30px;
    text-align: left;
}
legend {
    color: black;
}
input#submit {
    text-shadow: 0px 1px 1px #ffffff;
    border-bottom: 2px solid #b2b2b2;
    background-color: rgba(255, 255, 255, 0.3);
    color: white;   
   
}
input#submit:hover {
    color: #333333;
    border: 1px solid #a4a4a4;
    border-top: 2px solid #b2b2b2;
    background-color: #55608f;}
    input:invalid:required {
        border: red solid 1px;
      }